.imagens {
    margin: 32px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.imagens img {
    max-width: 150px;
    max-height: 150px;
}

img:hover {
    cursor: pointer;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.fullscreen img {
    max-width: 90%;
    max-height: 90%;
    cursor: pointer;
}